{% extends "./space/base_space.html" %}
{% block title %}
老照片 - {{view_user.username}}的朋友
{% endblock %}

{% block layoutmid %}
<!-- -->
		<p class="greentitle">{{view_user.username}}的朋友</p>
		<br/>
<table>
  <tr>
    <td>
	<div class="iconlist">
	<ul>
	{% for o in object_list %}
		<li>
		          <div>
		    <a href="/space/{{o.friend.id}}/">
		    <img src="{{o.friend.get_profile.get_avatar}}"></a>
		          <br>
		          <a>{{o.friend.username}}</a>
		          </div>
		</li>		
	{% endfor %}
	</ul>
	<br class="clear">
	</div>
	</td>
  </tr>
</table>
<form method="get" name="pform" action="">
<div id="pagination" style="float:right">
	<a>{{page}}/{{pages}} 页</a>
	<input name="page" size="4" maxlength="255" value="1" id="pg" type="text">
	<em onclick="document.pform.submit(); return false;">GO</em>
</div>
</form>
<div id="pagination">
	{% if has_previous %}
		<a href="/space/photos/{{view_user.id}}/?page=1">首页</a>
		<a href="/space/photos/{{view_user.id}}/?page={{ previous }}">上一页</a>
	{% endif %} {% if has_next %}
		<a href="/space/photos/{{view_user.id}}/?page={{ next }}">下一页</a>
		<a href="/space/photos/{{view_user.id}}/?page={{pages}}">尾页</a>	
	{% endif %}
</div>
<!-- -->
{% endblock %}