{% extends "base.html" %}

{% block meta_ext %}

{% endblock %}

{% block ext_style %}
#layoutmid {margin-left: 20px; min-height: 300px; margin-right: 210px;}#layoutright { width: 200px;}
#layoutleft {width: 10px;}
{% endblock %}

{% block layoutright %}
<br/>
<div class="homeBox bggrey">
<h3>什么是老照片</h3>
  <p>照片是凝固的历史，分享老照片，触摸岁月的痕迹。<br/>老照片是一个分享老照片的社区，在这里你可以分享任何有历史味道图片。包括老照片，老剧照，古董等。<a href="/userpanel/signup/">请加入我们</a>
</p>
</div>

<div class="homeBox" id="tag_box">
<h3>热点标签</h3>
{% for t in side_tags %}
<a href="/tags/{{t.id}}/" style="font-size: {{t.em}}em;">{{t.name}}</a>&nbsp;
{% endfor %}
</div>

{% endblock %}

{% block layoutmid %}
<p class="greentitle"> 推荐 </p>
<br/>
<table width="680px">
  <tr>
    <td>
	<div class="piclist">
	<ul>
	{% for o in recommend_photos %}
		<li>
            <div>
		    <a href="/photos/{{o.photo.id}}/">
		    <img src="{{o.photo.thumb_big_photo_url}}" alt="{{o.photo.title}}"></a>
            <br>
		    <a>浏览({{o.photo.view_count}})</a> | <a>回复({{o.photo.rep_count}})</a>
            </div>
		</li>
	{% endfor %}
	</ul>
	<br class="clear">
	<div align="right"><a href="/allrecommends/">更多&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
	</div>
	</td>
  </tr>
</table>
<!-- -->

<br/>
<p class="greentitle"> 最新 </p>
<br/>
<table width="680px">
  <tr>
    <td>
	<div class="piclist">
	<ul>
	{% for o in new_photos %}
		<li>
            <div>
		    <a href="/photos/{{o.id}}/">
		    <img src="{{o.thumb_big_photo_url}}" alt="{{o.title}}"></a>
            <br>
            <a>浏览({{o.view_count}})</a> | <a>回复({{o.rep_count}})</a>
            </div>
		</li>
	{% endfor %}
	</ul>
	<br class="clear">
	<div align="right"><a href="/allnewphotos/">更多&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
	</div>
	</td>
  </tr>
</table>
<!-- -->
<br/>
<p class="greentitle"> 热点 </p>
<br/>
<table width="680px">
  <tr>
    <td>
	<div class="piclist">
	<ul>
{% for o in hot_photos %}
    <li>
              <div>
        <a href="/photos/{{o.id}}/">
        <img src="{{o.thumb_big_photo_url}}" alt="{{o.title}}"></a>
              <br>
              <a>浏览({{o.view_count}})</a> | <a>回复({{o.rep_count}})</a>
              </div>
    </li>
{% endfor %}
	</ul>
	<br class="clear">
	<div align="right"><a href="/allhotphotos/">更多&gt;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
	</div>
	</td>
  </tr>
</table>
<br/>
<br/>

</div>
{% endblock %}
