<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="position: static;" xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>译言 - 联系我们</title>

<meta name="description" content="译言 - 联系我们">
<meta name="keywords" content="翻译, 阅读, 文章, 社区, 外文, 译言, 交流">
<link rel="shortcut icon" href="http://www.yeeyan.com/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="/site_media/style/main.css">

<style type="text/css"><!--
#layoutmid {margin-left: 130px; min-height: 300px; margin-right: 130px;}#layoutright { width: 120px;}
#layoutleft {width: 120px;}
--></style>
<link media="screen" href="/site_media/style/niftyCorners.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
        <div id="header">

<div id="topsearch">
<form method="get" action="http://www.yeeyan.com/main/search" target="_top">
<ul id="nav_list">
			<li><img src="/site_media/images/email.gif">(<a href="http://www.yeeyan.com/space/inbox">0封未读</a>)
        </li>
    <li>
			<a href="http://www.yeeyan.com/users/logout">退出</a></li>
		        <li><img src="/site_media/images/div.gif"></li>
<li>
<input name="q" size="12" maxlength="255" value="" id="sbi" type="text">
<select name="sitesearch" id="ss1" style="width: 55px;">
 <option selected="selected" value="www.yeeyan.com">全部 </option>
 <option value="www.yeeyan.com/articles">文章 </option>
 <option value="www.yeeyan.com/groups">小组</option>
 <option value="www.yeeyan.com/space">译者 </option>
 <option value="www.yeeyan.com/authors">作者 </option>
</select>
<input class="mButton" name="sa" value="搜索" id="submit" type="submit">
<input name="client" value="pub-1568149837988323" type="hidden">
<input name="forid" value="1" type="hidden">
<input name="ie" value="UTF8" type="hidden">
<input name="oe" value="UTF8" type="hidden">
<input name="cof" value="GALT:#3D81EE;GL:1;DIV:#E6E6E6;VLC:C94093;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:666666;LC:2E6AB1;T:000000;GFNT:666666;GIMP:666666;FORID:11" type="hidden">
<input name="hl" value="zh_cn" type="hidden">
</li>
</ul>
</form> 
</div>

<div id="logo">
<h1><a href="http://www.yeeyan.com/"><img src="/site_media/images/logo_zh.gif" title="译言"></a></h1> 
</div>
<div id="philosophy">
	<h3>发现，翻译，阅读中文之外的互联网精华</h3>
</div>

<div id="headernav">
<ul id="headeraa">
<li>
<a class="roundTop" href="http://www.yeeyan.com/">阅读</a>
</li>
<li><a class="roundTop" href="http://www.yeeyan.com/articles/allrecommends">发现</a></li>
<li><a class="roundTop" href="http://www.yeeyan.com/main/allcomments">评论</a></li>
<li><a class="roundTop" href="http://www.yeeyan.com/groups/all">小组</a></li>

<li>
 <a class="roundTop" href="http://www.yeeyan.com/ymsg/my">译消息</a>
</li>
<li id="menu1" class="headermenu">
<a class="roundTop" id="menu1-toggle" href="http://www.yeeyan.com/">翻译</a>
</li>
<li id="menu2" class="headermenu">
<a class="roundTop" id="menu2-toggle" href="http://www.yeeyan.com/">自己</a>
</li>
<li id="menu3" class="headermenu">
<a class="roundTop" id="menu3-toggle" href="http://www.yeeyan.com/">帮助</a>
</li>

</ul>
<div class="clear"></div>
</div>
</div>

<div style="border-top: 8px solid rgb(232, 232, 232);"></div>
  
		<div id="middle"><div id="main">	
			<div id="layoutleft">
			<div></div>			</div>
		

			<div id="layoutright">
			<div></div>			</div>

			<div id="layoutmid">
				<div id="breadcrumb">
<span><a href="http://www.yeeyan.com/">首页</a></span>&gt;
<span>帮助</span>&gt;
<span id="breadcurrent">联系我们</span> 
</div>

<form name="sform" id="sform" action="/main/contactsave/" method="post">  
<input name="fromURL" id="fromURL" value="http://www.yeeyan.com/ymsg/my" type="hidden">
<fieldset class="login"> 
 
<legend>请告诉我们您的想法</legend>

<ul class="contactlist">
<li><div>您的电子邮件</div>
 <input name="email" id="email" size="25" value="" type="text">
<br class="clear">
</li>
<li><div>您的意见</div>
<textarea name="text" id="text" cols="35" rows="8"></textarea>
</li>
</ul>
<div class="submit">
<a href="" class="mButton" onclick="document.sform.submit(); return false;">提交</a> &nbsp;&nbsp;
<a class="mButton" href="javascript:history.back()">取消</a>
</div>


		  </fieldset></form></div>

		</div></div>
		<div id="footer">
译言 © 2006&nbsp;|&nbsp;
<a href="http://www.yeeyan.com/main/about"> 关于译言</a>&nbsp;|&nbsp;
<a href="http://blog.yeeyan.com/"> 译言网志</a>
 &nbsp;|
<span id="language">
&nbsp;<a href="http://en.yeeyan.com/">
English 译言</a>
</span>

</div> 



</div>
	<div id="dummy" class="hidden"></div>
<form id="pipe" class="hidden"></form>
<div id="yodaoDiv">
<p class="item center greentitle">
 请稍等。。。</p>
</div>
<script language="javascript" type="text/javascript" src="/site_media/script/niftycube.js"></script>
<script language="javascript" type="text/javascript" src="/site_media/script/main.js"></script>
<div style="position: absolute; top: 0pt; left: 0pt; visibility: hidden;" class="tool-tip"><div></div></div></body></html>