{% extends "base.html" %}
{% block title %}
老照片 - 编辑图片
{% endblock %}

{% block ext_style %}
#layoutmid {margin-left: 110px; min-height: 300px; margin-right: 110px;}#layoutright { width: 100px;}
#layoutleft {width: 120px;}
{% endblock %}

{% block breadcrumb %}
<span><a href="/">首页</a></span>&gt;
<span><a href="/space/{{user.id}}/">个人中心</a></span>&gt;
<span><a href="/space/photos/{{user.id}}/">我图片</a></span>&gt;
<span id="breadcurrent">编辑图片</span> 
{% endblock %}

{% block layoutmid_content %}
		<div id="content">
			<div id="content_list">
<form method="post" name="sform" id="sform" action="">
<fieldset>
<legend>编辑图片</legend>
<div align="center">
<a target="_blank" href="{{photo.get_photo_url}}"><img src="{{photo.thumb_big_photo_url}}"></img></a>
</div>
	<div>
		<label style="width: 6em;">标题</label>
		{{form.title}}
		{% if form.title.errors %}<span style="color: #FF0000;"> *** {{ form.title.errors|join:", " }}</span>{% endif %}
    </div>
	<div>
		<label style="width: 6em;" for="UserEmail">标签</label>
		{{form.txt_tags}}
		{% if form.txt_tags.errors %}<span style="color: #FF0000;"> *** {{ form.txt_tags.errors|join:", " }}</span>{% endif %}
	</div>	
  	<div>
		<label style="width: 6em;">描述</label>
		{{form.descn}}
		{% if form.descn.errors %}<span style="color: #FF0000;"> *** {{ form.descn.errors|join:", " }}</span>{% endif %}
	</div>
	<div class="submit">
		<a href='' class="mButton" onClick="document.sform.submit(); return false;">编辑</a>
		<a class="mButton" href="javascript:history.back()">取消</a>
	</div>
</fieldsets>
</form>
			</div>
		</div>
{% endblock %}